*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'josefin Sans' , sans-serif;
}

header{
    width: 100% ;
    height: 100vh;
    background-image: url('https://free4kwallpapers.com/uploads/originals/2020/07/18/taj-mahal-agra-india-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    width: 100%; height:15vh ;
    background: linear-gradient(to right,#f35f1a,#662b8d);
    /*color:linear-gradient(to right,#e9e5ec) ;*/
    color:aliceblue;
    display: flex; 
    justify-content: space-between; 
    align-items: center; text-transform: uppercase;
}

nav .logo {
    width: 25%;text-align: center;
}

nav .menu{
    width: 40%;
    display: flex; justify-content: space-between;
}

/* nav .bt span{
    display: block;
    color: azure;
    text-decoration: blanchedalmond;
    padding: 20px 20px;
    background: linear-gradient(to right,#fc466b,#650979);
    margin-block-end: 2px;
} */

nav .menu a {
    padding-right: 5%;
    text-decoration: none; 
    color: rgb(255, 255, 255);
    font-weight: bold;
}
nav .menu a:hover{
    color:rgba(226, 244, 195, 0.972);
}

main{
    width: 100% ;
    height: 85vh;
    display:flex ;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
main a{
    display: block;
    color: rgb(7, 74, 107);
    text-decoration: none;
    padding: 10px 20px;
    float: left;
    text-transform: uppercase;
    border:  rgb(255, 53, 53);
}
.button {
    background-color: #f8ecc2;
    border: solid;
    color: rgb(255, 253, 253);
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 10px;
  }
 
main a:hover{
    background-color: rgb(214, 211, 214);
    border-radius: 10px;
   
}

section  h3{
    font-size: 35px;
     font-weight: 200;
     letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
}

section h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}
section h4 .ses{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}
section h4 .heart{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}

lo

